/* Page
-------------------------------------------------*/
.page {
    padding-bottom: $container-padding;
}

img {
    border-radius: $border-radius;
}

/* Author
-------------------------------------------------*/
.content-element__author {
    background-color: #d9d9d9;
    text-align: center;
    padding: $container-padding;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
}

.content-element__author-img {
    width: 40%;
}

.content-element__author-name {
    font-size: 1.5em;
    padding-top: 0.75em;
}

.content-element__author-email {
    font-size: 1.25em;
}

/* Book
-------------------------------------------------*/
.content-element__content {
    padding: $container-padding;
    text-align: center;
    background-color: #f6f7f9;
    border: 1px solid #dadada;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
}

.content-element__content-copy {
    font-size: .95em;
}

.content-element__content-heading {
    margin-top: .75em;
}

.content-element__content-btn {
    margin-top: $container-padding;
}

.test{
    display: flex;
    flex-direction: column ;
}

.testBox{
    border: 1px solid #000000;
    width: 100%;
}
/* Media Queries
-------------------------------------------------*/
@media only screen and (min-width: 768px) and (max-width: 992px) {

    // do something in this width range.
    /*
    .content-element__author {
        max-width: 50%;
        display: inline-block;
    }

    .content-element__content {
        max-width: 50%;
        display: inline-block;
    }
    */

    .test{
        display: flex;
        flex-direction: row ;
    }
    
    .testBox{
        border: 1px solid #000000;
        width: 50%;
    }
}

/* https://getbootstrap.com/docs/5.0/utilities/flex/ */